/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Squada+One&display=swap');

body{
    background-color: #d3e7ff;
    font-family: "Squada One", sans-serif;
    margin: 0;
}
