<div class="team-dropdown">
	<label class="td-label">Select a new team member</label>
	<div class="td-row">
		<select [formControl]="control" (change)="onChange()">
			<option value="">None</option>
			<optgroup label="Managers">
				<ng-container *ngFor="let m of project?.members">
					<option *ngIf="m?.role === 'manager'" [value]="m | json">{{ m.first_name }} {{ m.last_name }}</option>
				</ng-container>
			</optgroup>
			<optgroup label="Members" *ngIf="project?.members?.length">
				<ng-container *ngFor="let m of project?.members">
					<option *ngIf="m?.role === 'member'" [value]="m | json">{{ m.first_name }} {{ m.last_name }}</option>
				</ng-container>
			</optgroup>
		</select>
	</div>
</div>
