# Default ignored files
/../../../Bases de données non SQL/INF3-M1-IBI-TAHA-ANDRAOS-SOLAIH-BENMESSAOUDA/.idea/shelf/
/../../../Bases de données non SQL/INF3-M1-IBI-TAHA-ANDRAOS-SOLAIH-BENMESSAOUDA/.idea/workspace.xml
# Editor-based HTTP Client requests
/../../../Bases de données non SQL/INF3-M1-IBI-TAHA-ANDRAOS-SOLAIH-BENMESSAOUDA/.idea/httpRequests/
# Datasource local storage ignored files
/../../../Bases de données non SQL/INF3-M1-IBI-TAHA-ANDRAOS-SOLAIH-BENMESSAOUDA/.idea/dataSources/
/../../../Bases de données non SQL/INF3-M1-IBI-TAHA-ANDRAOS-SOLAIH-BENMESSAOUDA/.idea/dataSources.local.xml
